@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Lobster");

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  position: relative;
}

/* my sizes */
:root {
  --polaroid-width: 240px;
  --badge-size: 48px;
  --polaroid-corners: calc(var(--badge-size) / 2);
  --border-color: #333;
}

body {
  background: #eeeeee;

  font-family: "Roboto Condensed", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 1.5em;
}
h1 {
  font-size: 3em;
  font-family: "Lobster", cursive;
  text-align: center;
}
h2 {
  font-size: 1.8em;
  font-family: "Lobster", cursive;
}
h3 {
  font-size: 1.8em;
  font-family: "Lobster", cursive;
  text-decoration: underline;
}

hr {
  max-width: 400px;
  border: 2px solid var(--border-color);
  border-radius: 2px;
}
.header {
  width: 860px;
  overflow: hidden;
  /* border: 1px solid var(--border-color); */
  /* width: var(--polaroid-width); */
  /* background-color: white; */
  /* border-radius: var(--polaroid-corners); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* center */
  display: block;
  margin: 0px auto;
  transition: all 0.5s ease;
  padding: 0px 00px;
}

/* main grid container */
.gridify {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, var(--polaroid-width));
  justify-content: center;
  margin: auto 40px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* polaroid style cards */
div.polaroid {
  overflow: hidden;
  border: 1px solid var(--border-color);
  width: var(--polaroid-width);
  background-color: white;
  border-radius: var(--polaroid-corners);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* center */
  display: block;
  margin: 10px auto 25px auto;
  transition: all 0.5s ease;
}

.polaroid.highlight {
  /* let's only show the box shadow when highlighted */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4); */
  /* transform: scale(1.01); */ /* skip scaling at the moment */
}

div.polaroid img {
  display: block;
  border-bottom: 1px solid var(--border-color);
  height: 360px;
  /* this centers image nicely even when too large for div*/
  margin-left: 50%;
  transform: translateX(-50%);
}

div.badge {
  position: absolute;
  border: 1px solid var(--border-color);
  background: #f2f2f2;
  border-radius: 100%;
  width: var(--badge-size);
  height: var(--badge-size);
  /* get the half size for easy calculation */
  --half-badge-size: calc(var(--badge-size) / -2);
  bottom: var(--half-badge-size);
  left: calc(calc(var(--polaroid-width) / 2) + var(--half-badge-size));
  /* align vertically with grid */
  /* seeing as we're using grid we'll align all here */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  z-index: 1;

  font-size: calc(var(--badge-size) * 0.66);
  font-weight: bold;
}

.badge.highlight {
  background-color: #101010;
  color: white;
  transform: scale(1.2) !important;
  transition: all 0.2s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20%;
}

.description {
  text-align: center;
  padding-top: 20px;
}

.description p {
  margin: 0;
  padding: 10px;
  text-align: justify;
  font-size: 16px;
  width: 100%;
  background-color: white;
}

.description p:nth-of-type(2n) {
  background-color: #eee;
}
